<?xml version="1.0"?>
<robot>
    <controller type="Xbox360" port="0">
        <!--<bind type="button" active="shooter.spinUp" inactive="shooter.spinDown">4</bind>
        
        <bind type="button" active="shooter.rotateUp" inactive="shooter.rotateStop">1</bind>-->
        <bind type="button" active="intake.pullIn" inactive="intake.stop">2</bind>
        <bind type="button" active="lift.driveReverse">4</bind>
        <bind type="button" active="lift.driveForward">3</bind>
        <bind type="button" inactive="lift.fullStop">3,4</bind>
        <bind type="button" active="conveyor.update">1</bind>
        <bind type="button" active="shooter.driveFast">5</bind>
        <bind type="button" active="shooter.driveSlow">6</bind>
        <bind type="button" inactive="shooter.fullStop">5,6</bind>
        <bind type="axis" name="driveForward">kLeftY</bind>
        <bind type="axis" name="shooter">kLeftY</bind>
        <bind type="axis" name="shooter2">kRightY</bind>
		<bind type="dps" name="drive">kLeftX,driveForward,kRightX</bind>
    </controller>
</robot>